.articles-grid {
  .column {
    display: flex;
  }
}

.articles-grid-item {
  display: flex;
  width: 100%;
}

.articles-grid-item-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}

.articles-grid-item-card-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

.articles-grid-item-card-title-link {
  color: #000;
  text-decoration: none;
}

.articles-grid-item-card-readmore {
  margin-top: auto;
  padding-top: 30px;
  margin-bottom: 20px;
  text-align: center;

  .button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    min-width: 200px;
  }
}