$c-green: #23D18B;
$c-green-hover: #03B46D;
$c-green-active: #039356;

$c-blue: #6560f8;
$c-blue-hover: #5853c8;
$c-blue-active: #3f3a8e;

$c-button-green: #23D18B;
$c-button-green-hover: #03B46D;
$c-button-green-active: #039356;

$c-button-blue: #6560f8;
$c-button-blue-hover: #5853c8;
$c-button-blue-active: #3f3a8e;

// Bulma overrides
$link: $c-button-green;