.search-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  min-width: 300px;
}

.search-modal-input {
  flex: 1 0 auto;
  display: block;
  height: 100%;
  font-size: 30px;
  padding: 3px 15px;
  border: none;
  background: #fff;

  &:focus {
    background: #f9f9f9;
  }
}

.search-modal-submit {
  width: 100px;
  height: 100%;
  background: $c-button-blue;
  color: #fff;
  border: none;

  &:hover,
  &:focus {
    background: $c-button-blue-hover;
  }

  &:active {
    background: $c-button-blue-active;
  }
}